#box{

    display:inline-block ;
    background:gray ;
    box-shadow:10px 10px 2px  black ;
    text-align:center ;
    padding:40px 42px ;
}

 #box h1{

    margin-bottom:28px ;

 }




















